body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding-top: 30px;
  width: 100%;
  height: 100vh;
  margin: 0;
  background-image: radial-gradient(
    circle at 12.3% 19.3%,
    rgb(85, 88, 218) 0%,
    rgb(95, 209, 249) 100.2%
  );
  font-weight: 300;
  font-size: 22px;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  background-color: #f5f5f5;
  padding: 30px;
}

h1 {
  font-weight: 500;
  font-size: 32px;
  margin: 0 0 20px 0;
  text-align: center;
}

form {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

label {
  margin-right: 10px;
}

input[type="text"] {
  padding: 10px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  width: 300px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  color: #333;
  margin-right: 5px;
}

button[type="submit"] {
  padding: 10px 20px;
  background-color: #4285f4;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

button[type="submit"]:hover {
  background-color: #2962ff;
}

.weather_today {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}
.main_weather_icon {
  font-size: 100px;
  display: block;
}
.weather_icon {
  font-size: 50px;
  text-align: auto;
}
.weather_forecast_each {
  justify-content: center;
  margin: 0 auto;
  text-align: center;
}
.weather_city {
  font-size: 36px;
  font-weight: 600;
  margin: 20 0;
}
.weather_day {
  font-weight: 30px;
  margin: 10px 0;
  font-weight: 400;
}
.weather_details {
  margin-left: 50px;
  text-align: justify;
  margin-top: auto;
  padding: 30px;
}
.weather_forecast {
  text-align: center;
}
.no_link {
  outline: none;
  text-decoration: none;
}

.no_link:active {
  color: red;
}

.footer_source_code {
  text-align: center;
  color: white;
  padding: 10px;
}

.link_source_code {
  color: cyan;
}
